<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/img/Dokka.png" rel="icon">
    <link rel="stylesheet" href="../static/css/styleprivacidad.css">
    <title>Política de Privacidad</title>
</head>

<body>
    <h1>Política de Privacidad</h1>
    <img src="../static/img/Privacidad.jpg" alt="">
    <p>Al estar navegando por nuestor sitio web esta política es para informarte sobre qué datos recogemos, por qué los
        recogemos y
        cómo puedes actualizarlos, gestionarlos, exportarlos y eliminarlos.</p>
    <p>Recogemos información para proporcionar los mejores servicios a todos los usuarios: desde determinar información
        básica,
        como el idioma que hablas, hasta datos más complejos, el tipo de información que recogemos y cómo
        se utiliza esa
        información depende del uso que hagas de nuestros servicios y de cómo administres los controles de privacidad.
    </p>
    <p>Recogemos esta información cuando un servicio de tu dispositivo establece conexión con nuestros
        servidores, informes sobre fallos, en función de la configuración de tu dispositivo, otra información
        sobre cómo estás usando tu dispositivo Android.</p>
    <p>Siempre teniendo el proposito de mejorar continuamente nuestros servicios, y el claro ejemplo es este sitio web
        en el cual cuando navegas por el alojas ciertos datos los cuales permiten que todo nuestro progreso sea mejora
        para todos los usuarios que naveguen por el.
    </p>
</body>

</html>